[Desktop Entry]
Categories=Utility
Comment=Scheduled LIGHT/DARK Theme Switching for the KDE Plasma Desktop
Exec=koi
GenericName=Theme Switcher
Icon=koi
Keywords=Theme; Switch; Light; Dark; Schedule; Sunrise; Sunset; Dusk; Dawn; Timer; Kvantum
Name=Koi
Path=/usr/bin
StartupNotify=true
StartupWMClass=koi
Terminal=false
Type=Application
Version=1.4
